<div class="container">
  <h1>XML Generator</h1>
  <form #xmlForm="ngForm">
    <div>
      <label for="artist">Artist Name:</label>
      <input
        type="text"
        id="artist"
        [(ngModel)]="artist"
        name="artist"
        required
      />
    </div>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required />
    </div>
    <div>
      <label for="isrc">ISRC:</label>
      <input type="text" id="isrc" [(ngModel)]="isrc" name="isrc" required />
    </div>
    <div>
      <label for="upc">UPC:</label>
      <input type="text" id="upc" [(ngModel)]="upc" name="upc" required />
    </div>
    <br>
    <button type="button" (click)="generateXML()" [disabled]="!xmlForm.valid">
      Show XML Ressult
    </button>
    <button type="button" (click)="downloadXML()" [disabled]="!xmlForm.valid">
      Download XML file
    </button>
  </form>
  <textarea rows="10" cols="50" readonly *ngIf="generatedXML">
    {{ generatedXML }}
  </textarea>
</div>
